{% extends "iot_banner.html" %}
{% block iot_content %}
    <div class="container">
        <h4>当前位置：<a href={% url "iot_main_page" %}>IOT测试</a> >> IOT设备详细列表  >>  <a class="btn-sm btn-info" role="button"
                                                                            href={% url "iot_download_sut_url" %}>保存到本地&raquo;</a></h4>
        <div class="table-responsive" id="v_sut_table">
            <table class="table table-bordered" id="sut_table">
                <thead>
                <tr class=locktop>
                    <th>序号</th>
                    <th>设备名称</th>
                    <th>设备地址</th>
                    <th>用户名</th>
                    <th>ONVIF密码</th>
                    <th>web密码</th>
                    <th>类型</th>
                    <th>软件版本</th>
                    <th>其他</th>
                </tr>
                </thead>
                <tbody>
                {% verbatim %}
                <tr v-for="(sut, index) in sut_list">
                    <td>{{ index+1 }}</td>
                    <td>{{ sut.device_name }}</td>
                    <td>{{ sut.device_addr }}</td>
                    <td>{{ sut.device_username }}</td>
                    <td>{{ sut.device_ov_password }}</td>
                    <td>{{ sut.device_web_password }}</td>
                    <td>{{ sut.device_type }}</td>
                    <td>{{ sut.device_software_version }}</td>
                    <td>{{ sut.other_info }}</td>
                </tr>
                {% endverbatim %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var sut_list = [{"device_name": "测试", "device_addr": "123456"}, {
            "device_name": "测试33332",
            "device_addr": "!(@#)!#!"
        }];
        var table_head_list = [""];
        var v_sut_table = new Vue({
            el: '#v_sut_table',
            data: {
                table_head_list: table_head_list,
                sut_list: sut_list,
            }
        })

        $(document).ready(update_sut_list());

        function update_sut_list() {
            $.getJSON("../api/v1/inner/suts/", function (ret_data) {
                    console.log(ret_data);
                    v_sut_table.sut_list = ret_data.data;
                }
            )
        }

    </script>
{% endblock %}
