{% extends "iot_banner.html" %}
{% block iot_content %}
    <div class="container">
        <h4>当前位置：<a href={% url "iot_main_page" %}>IOT测试</a> >> 历史任务查看</h4>
        <div class="table-responsive" id="v_mission_table">
            <table class="table table-striped">
                <thead>
                <tr class=locktop>
                    <th>序号</th>
                    <th>创建日期</th>
                    <th>DUT名称</th>
                    <th>DUT版本</th>
                    <th>DUT类型</th>
                    <th>其他</th>
                    <th>创建人</th>
                    <th>任务状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% verbatim %}
                <tr v-for="(mission, index) in mission_list">
                    <td>{{ index+1 }}</td>
                    <td>{{ mission.create_time }}</td>
                    <td>{{ mission.dut_name }}</td>
                    <td>{{ mission.dut_version }}</td>
                    <td>{{ mission.dut_type }}</td>
                    <td>{{ mission.other }}</td>
                    <td>{{ mission.editor_name }}</td>
                    <td>{{ mission.mission_status }}</td>
                    <td><a class="btn-sm btn-success btn-show-detail" role="button" v-bind:name="mission.id"
                        v-bind:href="'/iottest/missiondetail/'+mission.id">查看详细</a>
                    </td>
                </tr>
                {% endverbatim %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var mission_list = [{"device_name": "测试", "device_addr": "123456"}, {
            "device_name": "测试33332",
            "device_addr": "!(@#)!#!"
        }];
        var table_head_list = [""];
        var v_mission_table = new Vue({
            el: '#v_mission_table',
            data: {
                table_head_list: table_head_list,
                mission_list: mission_list,
            },
            methods: {
                go_to_detail: function (id) {
                    window.open('/iottest/missiondetail/' + id);
                },
                show_pop: function (id) {
                    console.log(id);
                    console.log(this.name);
                }
            }
        })
        {##}
        {#        $('.btn-show-detail').on('click', function () {#}
        {#            window.open('/iottest/missiondetail/' + this.name);#}
        {#        });#}

        $(document).ready(update_mission_list());
        function update_mission_list() {
            $.getJSON("../api/v1/inner/missions/", function (ret_data) {
                    console.log(ret_data);
                    v_mission_table.mission_list = ret_data.data;
                }
            )
        }

    </script>
{% endblock %}
