{% extends "iot_banner.html" %}
{% block iot_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>陪测设备列表</h4>

                <p>查看已有陪测设备详细参数</p>

                <p><a class="btn btn-info" role="button" href={% url "iot_sut_list_page" %}>查看设备&raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h4>新建任务</h4>

                <p>新增IOT测试任务</p>

                <p><a class="btn btn-success" role="button" data-toggle="modal" id="new_mission_btn"
                      data-target="#new_mission_modal" data-backdrop="static">新建任务 &raquo;</a></p>

            </div>
            <div class="col-lg-4">
                <h4>任务信息</h4>

                <p>查看历史任务信息、执行状态。</p>

                <p><a class="btn btn-info" href={% url 'iot_mission_list_page' %} role="button">查看任务&raquo;</a></p>

            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-4">
                <h4>比较结果</h4>
                <p>对比两次任务结果。</p>
                <p><a class="btn btn-info" href={% url 'iot_mission_list_page' %} role="button">对比结果&raquo;</a></p>

            </div>

        </div>
    </div>

    <!--新增任务弹框-->
    {% verbatim %}
    <div class="modal fade" id="new_mission_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" v-if="show_new_label">
                    <h3>新建IOT任务</h3>
                    <p>新建一项IOT测试任务</p>
                    <p>点击“开始”后，系统会下发任务至终端，自动开始执行</p>
                </div>
                <div class="modal-body" id="scan_modal_body" v-if="show_new_label">
                    <form class="form-horizontal" role="form" id="new_mission_form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT型号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_name"
                                       placeholder="输入DUT型号" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT版本</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_version"
                                       placeholder="输入DUT软件版本" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT地址</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_addr"
                                       placeholder="输入DUT的IP地址" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT用户名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_username"
                                       placeholder="输入DUT的登录名" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT登录密码</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_password"
                                       placeholder="输入DUT的登录密码" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT类型</label>
                            <div class="col-lg-5">
                                <select class="form-control" v-model="mission_form.dut_type">
                                    <option>h264</option>
                                    <option>h265</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">备注信息</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.other_info"
                                       placeholder="请输入任务备注信息" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">编辑人</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.editor_name"
                                       placeholder="任务所有人名称" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">分配终端</label>
                            <div class="col-sm-5">
                                <select class="form-control" v-model="mission_form.terminal_name">
                                    <template v-for="terminal of terminal_list">
                                        <option>{{ terminal.terminal_name }}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="show_scan_progress" v-if="show_progress_label">
                        <p>请确认执行终端已开启，等待扫描完成</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 id="auto_scan_probar" v-bind:style="progress_percent"></div>
                        </div>
                    </div>
                    <button type="button" v-if="show_progress_label" class="btn btn-sm btn-success"
                            id="show_scan_detail_btn" name="">查看详细
                    </button>
                    <button type="button" v-if="show_new_label" class="btn btn-sm btn-success" id="confirm_scan_btn">
                        开始
                    </button>
                    <button type="button" v-if="show_progress_label" class="btn btn-sm btn-danger btn_terminate"
                            id="scan_terminate_btn">终止
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="abort_scan_btn"
                            name="">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

    <script>
        $("#new_mission_btn").click(function () {
            $.ajax({
                type: "GET",
                url: "/terminal/api/inner/online/",
                dataType: "json",
                contentType: "application/json",
                success: function (js_data) {
                    v_new_mission_form.terminal_list = js_data.data;
                    console.log("get terminal success", js_data);
                },
                error: function (e) {
                    console.log("get terminal failed", e);
                }
            });
        });

        var v_new_mission_form = new Vue({
            el: '#new_mission_modal',
            data: {
                show_new_label: true,
                mission_form: {
                    "mission_id": null,
                    "dut_name": null,
                    "dut_version": null,
                    "dut_addr": null,
                    "dut_type": null,
                    "dut_username": "admin",
                    "dut_password": "qqqqqq",
                    "other_info": null,
                    "editor_name": null,
                    "username": null,
                    "terminal_name": null,
                },
                show_progress_label: true,
                progress_percent: "width: 0%",
                terminal_list: [],
            },
            methods: {
                update_progress: function (num) {
                    this.progress_percent = "width: " + num + "%";
                },
                get_form_json_data: function () {
                    return JSON.stringify(this.mission_form);
                },
                show_before_submmit: function () {
                    this.update_progress(0);
                    this.show_new_label = true;
                    this.show_progress_label = false;
                },
                show_after_submmit: function () {
                    this.show_new_label = false;
                    this.show_progress_label = true;
                },
                get_terminal_url: function (t_name) {
{#                    var url = "";#}
{#                    $.each(this.terminal_list, function () {#}
{#                        if (this.terminal_name == t_name) {#}
{#                            url = "http://" + this.terminal_addr + ":" + this.terminal_port + "/";#}
{#                        }#}
{#                    });#}
{#                    return url;#}
                    for (t in this.terminal_list){
                        var temp = this.terminal_list[t];
                        if(temp.terminal_name == t_name){
                            return "http://" + temp.terminal_addr + ":" + temp.terminal_port + "/"
                        }
                    };
                    return ""
                },
                push_to_terminal: function () {
                    $.ajax(
                    )
                },
            }
        })
    </script>
{% endblock %}
