{% extends "iot_banner.html" %}
{% block iot_content %}
    <div class="container">
        <h4>当前位置：<a href={% url "iot_main_page" %}>IOT测试</a> >> 查看任务明细 >> 任务ID：{{ mission_id }}</h4>
        <div class="table-responsive" id="v_mission_detail_table">
            <table class="table table-striped">
                <thead>
                <tr class=locktop>
                    <th>序号</th>
                    <th>SUT地址</th>
                    <th>SUT名称</th>
                    <th>SUT类型</th>
                    <th>测试结果</th>
                    <th>其他</th>
                </tr>
                </thead>
                <tbody>
                {% for detail in mission_detail_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ detail.iot_device_id.device_addr }}</td>
                    <td>{{ detail.iot_device_id.device_name }}</td>
                    <td>{{ detail.iot_device_id.device_type }}</td>
                    <td>发现：{{ detail.can_discover }}
                        <p>添加：{{ detail.can_add }}</p>
                        <p>在线：{{ detail.can_preview }}</p>
                        <p>带宽：{{ detail.can_calculate }}</p>
                        <p>删除：{{ detail.can_delete }}</p>
                    </td>
                    <td>{{ detail.other_info }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>

    </script>
{% endblock %}
