{% extends "iot_banner.html" %}
{% block iot_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>陪测设备列表</h4>

                <p>查看已有陪测设备详细参数</p>

                <p><a class="btn btn-info" role="button" href={% url "iot_sut_list_page" %}>查看设备&raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h4>新建任务</h4>

                <p>新增IOT测试任务</p>

                <p><a class="btn btn-success" role="button" data-toggle="modal" id="new_mission_btn"
                      data-target="#new_mission_modal" data-backdrop="static">新建任务 &raquo;</a></p>

            </div>
            <div class="col-lg-4">
                <h4>任务信息</h4>

                <p>查看历史任务信息、执行状态。</p>

                <p><a class="btn btn-info" href={% url 'iot_mission_list_page' %} role="button">查看任务&raquo;</a></p>

            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-4">
                <h4>比较结果</h4>
                <p>对比两次任务结果。</p>
                <p><a class="btn btn-info" href={% url 'iot_mission_list_page' %} role="button">对比结果&raquo;</a></p>

            </div>

        </div>
    </div>

    <!--新增任务弹框-->
    {% verbatim %}
    <div class="modal fade" id="new_mission_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" v-if="show_new_label">
                    <h3>新建IOT任务</h3>
                    <p>新建一项IOT测试任务</p>
                    <p>点击“开始”后，系统会下发任务至终端，自动开始执行</p>
                </div>
                <div class="modal-header" v-if="show_progress_label">
                    <h3>执行IOT任务</h3>
                    <p>任务正在执行中, 进度: {{ mission_form.mission_progress }} / {{ mission_form.mission_total }}</p>
                </div>
                <div class="modal-body" id="scan_modal_body" v-if="show_new_label">
                    <form class="form-horizontal" role="form" id="new_mission_form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT型号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_name"
                                       placeholder="输入DUT型号" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT版本</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_version"
                                       placeholder="输入DUT软件版本" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT地址</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_addr"
                                       placeholder="输入DUT的IP地址" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT用户名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_username"
                                       placeholder="输入DUT的登录名" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT登录密码</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.dut_password"
                                       placeholder="输入DUT的登录密码" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">DUT类型</label>
                            <div class="col-lg-5">
                                <select class="form-control" v-model="mission_form.dut_type">
                                    <option>h264</option>
                                    <option>h265</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">备注信息</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.other_info"
                                       placeholder="请输入任务备注信息" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">编辑人</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="mission_form.editor_name"
                                       placeholder="任务所有人名称" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">分配终端</label>
                            <div class="col-sm-5">
                                <select class="form-control" v-model="mission_form.terminal_name">
                                    <template v-for="terminal of terminal_list">
                                        <option>{{ terminal.terminal_name }}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="show_scan_progress" v-if="show_progress_label">
                        <p>请确认执行终端已开启，等待扫描完成</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 id="auto_scan_probar" v-bind:style="progress_percent"></div>
                        </div>
                    </div>
                    <button type="button" v-if="show_progress_label" class="btn btn-sm btn-success"
                            id="show_scan_detail_btn" name="">查看详细
                    </button>
                    <button type="button" v-on:click="push_to_server()" v-if="show_new_label"
                            class="btn btn-sm btn-success" id="confirm_scan_btn">
                        开始
                    </button>
                    <button type="button" v-if="show_progress_label" class="btn btn-sm btn-danger btn_terminate"
                            id="scan_terminate_btn" v-on:click="terminate_mission">终止
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="abort_scan_btn"
                            name="">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

    <script>
        $("#new_mission_btn").click(function () {
            $.ajax({
                type: "GET",
                url: "/terminal/api/inner/online/",
                dataType: "json",
                contentType: "application/json",
                success: function (js_data) {
                    v_new_mission_form.terminal_list = js_data.data;
                    console.log("get terminal success", js_data);
                },
                error: function (e) {
                    console.log("get terminal failed", e);
                }
            });
        });

        $(document).ready(function(){
            var uname = $('#login_user_name').val();
            v_new_mission_form.mission_form.username = uname;
            v_new_mission_form.mission_form.editor_name = uname;
        });

        var v_new_mission_form = new Vue({
                el: '#new_mission_modal',
                data: {
                    mission_id:0,
                    show_new_label: true,
                    mission_form: {
                        "dut_name": null,
                        "dut_version": null,
                        "dut_addr": "192.168.1.240",
                        "dut_type": 'h265',
                        "dut_username": "admin",
                        "dut_password": "qqqqqq",
                        "other_info": null,
                        "editor_name": null,
                        "mission_status": 0,
                        "username": null,
                        "terminal_name": null,
                        "mission_progress": 0,
                        "mission_total":0,
                    },
                    show_progress_label: false,
                    progress_percent: "width: 0%",
                    terminal_list: [],
                },
                methods: {
                    update_progress: function (num) {
                        this.progress_percent = "width: " + num + "%";
                    },
                    get_form_json_data: function () {
                        return JSON.stringify(this.mission_form);
                    },
                    show_before_submmit: function () {
                        this.update_progress(0);
                        this.show_new_label = true;
                        this.show_progress_label = false;
                    },
                    show_after_submmit: function () {
                        this.show_new_label = false;
                        this.show_progress_label = true;
                    },
                    terminate_mission: function(){
                        js_data = {
                            "data":{
                                "id":v_new_mission_form.mission_id,
                                "mission_status":3
                            }
                        };
                        $.ajax({
                            type: "PUT",
                            url: "/iottest/api/v1/inner/missions/",
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify(js_data),
                            success: function (msg) {
                                console.log("success put mission:" + msg.data);
                                v_new_mission_form.show_before_submmit();
                            },
                            error: function (e) {
                                console.log("failed to put mission", e.errors);
                            }
                        });
                    },
                    get_terminal_url: function (t_name) {
                        for (var t in this.terminal_list) {
                            var temp = this.terminal_list[t];
                            if (temp.terminal_name == t_name) {
                                return "http://" + temp.terminal_addr + ":" + temp.terminal_port + "/";
                            }
                        }
                        return "";
                    },
                    push_to_terminal: function (module, t_url, mission_info, terminal_name, m_url) {
                        var push_data = {
                            "module": module,
                            "data": mission_info,
                        };
                        $.ajax({
                            type: "POST",
                            url: t_url,
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify(push_data),
                            success: function (msg) {
                                console.log("successed push to terminal:" + msg);
                                v_new_mission_form.show_after_submmit();
                            },
                            error: function (e) {
                                console.log("failed to push to terminal,push to mission queue", e);
                                v_new_mission_form.push_to_mission_queue(terminal_name, mission_info.id, module, m_url)

                            }
                        });
                    },
                    push_to_mission_queue: function (terminal_name, mission_id, mission_from, mission_url) {
                        var mission_info = {
                            "terminal_name": terminal_name,
                            "mission_id": mission_id,
                            "mission_from": mission_from,
                            "mission_url": mission_url,
                            "mission_status": 1
                        };
                        $.ajax({
                            type: "POST",
                            url: "/terminal/api/inner/bindterminal/",
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify(mission_info),
                            success: function (msg) {
                                console.log("push to mission queue", msg);
                                v_new_mission_form.show_after_submmit();
                            },
                            error: function (e) {
                                console.log("failed to push to mission queue", e);
                                alert("推送任务失败："+e.toString());
                            }
                        });
                    },
                    push_to_server: function () {
                        var form_data = this.mission_form;
                        var target_url = this.get_terminal_url(form_data.terminal_name);
                        if(form_data.terminal_name == "" || form_data.terminal_name==null){alert("终端不能为空！");return;}
                        if(form_data.editor_name == "" || form_data.editor_name==null){alert("编辑人不能为空！");return;}
                        if(form_data.dut_name == "" || form_data.dut_name==null){alert("DUT型号不能为空！");return;}
                        if(form_data.dut_version == "" || form_data.dut_version==null){alert("DUT版本不能为空！");return;}
                        console.log(form_data)
                        $.ajax({
                            type: "POST",
                            url: "/iottest/api/v1/inner/missions/",
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify({"data": form_data}),
                            success: function (msg) {
                                console.log("push to server success", msg);
                                v_new_mission_form.mission_id=msg.data.id;
                                v_new_mission_form.push_to_terminal(module = "iottest",
                                    t_url = target_url,
                                    mission_info = msg.data,
                                    terminal_name = msg.data.terminal_name,
                                    m_url = "/iottest/api/v1/inner/missions/?id=" + msg.data.id);

                                {#                            timer_id = window.setInterval(on_time_check_scan, 5000);#}
                                {#                            console.log('start timer:' + timer_id);#}
                            },
                            error: function (e) {
                                console.log("push to sever failed", e.responseText);
                                alert("创建失败！ 错误：" + e.status + "," + e.responseJSON.errors);
                            }
                        });
                    }
                }
            });
    </script>
{% endblock %}
