{% extends "ipmanage_banner.html" %}
{% block content %}
    <div class="container marketing">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">当前位置: <a href={% url "ipmanage_main_page" %}>MAC-IP绑定</a> >> <a href={% url "ipmanage_config_page" %}> 配置管理 </a> >> 配置详细：{{ config.user_name }} 的配置  [ {{ config.config_name }} ] , 创建于{{ config.create_time|date:"Y-m-d,G:i"}} </a> </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <p><a class="btn btn-info" role="button" id="auto_scan_btn" data-toggle="modal"
                              data-target="#scan_modal" data-backdrop="static">新增条目 &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>

        <h4>配置明细</h4>

        <div class="table-responsive" id="v_config_table">
            <table class="table table-striped" id="config_table">
                <thead>
                <tr class=locktop>
                    <th>序号</th>
                    <th>MAC</th>
                    <th>设置IP</th>
                    <th>设置密码</th>
                    <th>设备型号</th>
                    <th>设备固件</th>
                    <th>说明</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% verbatim %}
                <tr v-for="(config, index) in config_detail_list">
                    <td>{{ index+1 }}</td>
                    <td>{{ config.mac_addr }}</td>
                    <td>{{ config.set_ip }}</td>
                    <td>{{ config.set_password }}</td>
                    <td>{{ config.device_type }}</td>
                    <td>{{ config.device_firmware }}</td>
                    <td>{{ config.other_info }}</td>
                    <td><a class="btn-sm btn-success btn-show-detail" role="button" v-bind:name="config.id"
                           v-bind:href="'/ipmanage/config/'+config.id">编辑</a> |  <a class="btn-sm btn-danger btn-delete-detail" role="button" v-bind:name="config.id">删除</a>
                    </td>
                </tr>
                {% endverbatim %}
                </tbody>
            </table>
        </div>


    </div>
    <!--扫描窗口-->
    <div class="modal fade" id="scan_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>扫描局域网</h3>

                    <p>自动扫描局域网内的在线设备，获取其信息并添加到数据库</p>

                    <p>点击“开始”后，系统会下发任务至终端，自动开始执行</p>

                    <p><b>请填入所需的起始扫描地址、所需要的扫描数量</b></p>
                </div>
                <div class="modal-body" id="scan_modal_body">
                    <form class="form-horizontal" role="form" id="auto_scan_form" action="../api/mission/"
                          method="post">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">起始IP</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="start_ip" name="start_ip"
                                       value="192.168.1.2"
                                       placeholder="eg: 192.168.1.2" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">扫描IP数量</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="total_count" name="total_count"
                                       value="254"
                                       placeholder="eg: 254" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">分配终端</label>

                            <div class="col-sm-5">
                                <select class="form-control" id="assign_terminal" name="assign_terminal">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="show_scan_progress" hidden>
                        <p>请确认执行终端已开启，等待扫描完成</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 id="auto_scan_probar" style="width: 0%"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-success" id="show_scan_detail_btn" name="">查看详细</button>
                    <button type="button" class="btn btn-sm btn-success" id="confirm_scan_btn">开始</button>
                    <button type="button" class="btn btn-sm btn-danger btn_terminate" id="scan_terminate_btn">终止
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="abort_scan_btn"
                            name="">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var sut_list = [{
            "mac_addr": "测试",
            "set_ip": "123",
            "set_password": "bvt2",
            "device_type": "类型2",
            "other_info": "tester2"
        },{
            "mac_addr": "测试222",
            "set_ip": "122223",
            "set_password": "bvt222",
            "device_type": "类型1",
            "other_info": "tester1"
        },];

        var v_config_table = new Vue({
            el: '#v_config_table',
            data: {
                config_detail_list: sut_list,
                config_id:{{ config.id }}
            },
            methods: {
                go_to_detail: function (id) {
                    window.open('/iottest/missiondetail/' + id);
                },
                show_pop: function (id) {
                    console.log(id);
                    console.log(this.name);
                },
                show_mission_status: function (status) {
                    switch (status) {
                        case 0:
                            return '<span class="label label-success">等待</span>';
                        case 1:
                            return '<span class="label label-success">执行中</span>';
                        case 2:
                            return '<span class="label label-success">完成</span>';
                        case 3:
                            return '<span class="label label-warning">终止</span>';
                        case 4:
                            return '<span class="label label-danger">异常</span>';
                        default :
                            break;
                    }
                    ;
                },
                generate_mission_data: function (m_list) {
                    for (var m in m_list) {
                        m_list[m].status_data = v_mission_table.show_mission_status(m_list[m].mission_status);
                    }
                }
            }
        })

        $(document).ready(update_list());

        var d = {"offset":0,"limit":10,"ak":"90a3efd02fa8795d2f30"};

        function update_list() {
            $.getJSON(url="../../api/v1/config/detail/", data={"offset":0,"limit":10,"ak":"90a3efd02fa8795d2f30", "config_id":v_config_table.config_id}, function (ret_data) {
                        console.log(ret_data);
                        v_config_table.config_detail_list = ret_data.data;
                    }
            )
        }

    </script>

{% endblock %}
