{% extends "ipmanage_banner.html" %}
{% block content %}
    <div class="container marketing">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">当前位置: <a href={% url "ipmanage_main_page" %}>MAC-IP绑定</a> >> 配置管理</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <p><a class="btn btn-info" role="button" id="auto_scan_btn" data-toggle="modal"
                              data-target="#v-add-modal" data-backdrop="static">新增配置 &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>

        <h4>已有配置</h4>

        <div class="table-responsive" id="v_config_table">
            <table class="table table-striped" id="config_table">
                <thead>
                <tr class=locktop>
                    <th>序号</th>
                    <th>配置名称</th>
                    <th>包含数量</th>
                    <th>绑定拓扑</th>
                    <th>说明</th>
                    <th>创建者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% verbatim %}
                <tr v-for="(config, index) in config_list">
                    <td>{{ index+1 }}</td>
                    <td>{{ config.config_name }}</td>
                    <td>{{ config.config_count }}</td>
                    <td>{{ config.config_bind_topo }}</td>
                    <td>{{ config.config_info }}</td>
                    <td>{{ config.user_name }}</td>
                    <td><a class="btn-sm btn-success btn-edit-config" role="button"
                           v-bind:name="config.id" data-toggle="modal"
                           data-target="#v-edit-modal" data-backdrop="static"
                           v-on:click="v_edit_modal.get_config($event)">编辑</a>
                        |
                        <a class="btn-sm btn-success btn-show-detail" role="button" v-bind:name="config.id"
                           v-bind:href="'/ipmanage/config/'+config.id">查看</a> | <a
                                class="btn-sm btn-danger btn-delete-detail" role="button" v-bind:name="config.id"
                                v-on:click="delete_config($event)">删除</a>
                    </td>
                </tr>
                {% endverbatim %}
                </tbody>
            </table>
        </div>


    </div>
    <!--新增配置窗口-->
    <div class="modal fade" id="v-add-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>新增配置</h3>

                    <p>新增一条MAC-IP配置集合项</p>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">配置名称</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="config_name" placeholder="请输入名称"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">配置说明</label>

                            <div class="col-sm-7">
                                <textarea type="text" class="form-control" rows="5" v-model="config_info"
                                          placeholder="请输入配置说明" required></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" v-on:click="post_config">提交</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!--编辑窗口-->
    <div class="modal fade" id="v-edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>编辑配置</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">配置名称</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="config_name" placeholder="请输入名称"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">配置说明</label>

                            <div class="col-sm-7">
                                <textarea type="text" class="form-control" rows="5" v-model="config_info"
                                          placeholder="请输入配置说明" required></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" v-on:click="put_config">提交</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var sut_list = [{
            "config_name": "测试",
            "config_count": "123",
            "config_bind_topo": "bvt2",
            "config_info": "这是一个测试说明",
            "user_name": "tester1"
        },
            {
                "config_name": "测试222",
                "config_count": "0",
                "config_bind_topo": "bvt3",
                "config_info": "这是一个测试说明2",
                "user_name": "tester2"
            },];

        var v_edit_modal = new Vue({
            el: "#v-edit-modal",
            data: {
                id: null,
                config_name: null,
                config_info: null,
                config_count: 0,
                config_bind_topo: null,
                user_name: null,
                editor_name: null,
                p_data: null
            },
            methods: {
                get_config: function (e) {
                    console.log(e);
                    $.getJSON(
                            url = "../api/v1/config/",
                            data = {
                                "offset": 0,
                                "limit": 10,
                                "id": e.currentTarget.name
                            },
                            function (ret_data) {
                                console.log(ret_data);
                                v_edit_modal.p_data = ret_data.data;
                                v_edit_modal.config_name = v_edit_modal.p_data.config_name;
                                v_edit_modal.config_info = v_edit_modal.p_data.config_info;
                            })
                },
                verify_post_data: function () {
                    if (this.config_name == null) {
                        alert("配置名称不能为空");
                        return false;
                    }
                    ;
                    this.p_data.config_name = this.config_name;
                    this.p_data.config_info = this.config_info;
                    return true;
                },
                put_config: function () {
                    if (this.verify_post_data() == true) {
                        $.ajax({
                            type: "PUT",
                            url: "{% url "ipmanage_api_config_list" %}",
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify(this.p_data),
                            success: function (msg) {
                                console.log("success:", msg.data);
                                alert("修改成功");
                                update_list();
                            },
                            error: function (e) {
                                var hint = "";
                                for (var i in e.responseJSON.errors) {
                                    hint += i;
                                    hint += ":";
                                    hint += e.responseJSON.errors[i][0];
                                }
                                console.log("error:", hint);
                                alert("修改失败：" + hint);
                            }
                        });
                    }
                }
            }
        });


        var v_add_modal = new Vue({
            el: '#v-add-modal',
            data: {
                config_name: null,
                config_info: null,
                config_count: 0,
                config_bind_topo: null,
                user_name: "{{ user.username }}",
                editor_name: "{{ user.username }}",
                p_data: null
            },
            methods: {
                verify_post_data: function () {
                    if (this.config_name == null) {
                        alert("配置名称不能为空");
                        return false;
                    }
                    ;
                    this.p_data = {
                        "config_name": this.config_name,
                        "config_info": this.config_info,
                        "config_count": this.config_count,
                        "config_bind_topo": this.config_bind_topo,
                        "user_name": this.user_name,
                        "editor_name": this.editor_name
                    };
                    return true;
                },
                clean_data: function () {
                    this.config_name = null,
                            this.config_info = null,
                            this.config_count = 0,
                            this.config_bind_topo = null,
                            this.p_data = null
                },
                post_config: function () {
                    if (this.verify_post_data() == true) {
                        $.ajax({
                            type: "POST",
                            url: "{% url "ipmanage_api_config_list" %}",
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify(this.p_data),
                            success: function (msg) {
                                console.log("success:", msg.data);
                                alert("创建成功！");
                                update_list();
                                v_add_modal.clean_data();
                            },
                            error: function (e) {
                                var hint = "";
                                for (var i in e.responseJSON.errors) {
                                    hint += i;
                                    hint += ":";
                                    hint += e.responseJSON.errors[i][0];
                                }
                                console.log("error:", hint);
                                alert("创建失败：" + hint);
                            }
                        });
                    }
                }
            }
        });

        var v_config_table = new Vue({
            el: '#v_config_table',
            data: {
                config_list: sut_list
            },
            methods: {
                delete_config: function (e) {
                    $.ajax({
                        type: "DELETE",
                        url: "{% url "ipmanage_api_config_list" %}",
                        dataType: "json",
                        contentType: "application/json",
                        data:JSON.stringify({"id": e.currentTarget.name}),
                        success: function (msg) {
                            console.log("success:", msg.data);
                            alert("删除成功");
                            update_list();
                        },
                        error: function (e) {
                            var hint = "";
                            for (var i in e.responseJSON.errors) {
                                hint += i;
                                hint += ":";
                                hint += e.responseJSON.errors[i][0];
                            }
                            console.log("error:", hint);
                            alert("删除失败：" + hint);
                        }
                    });
                }
            }
        });

        $(document).ready(update_list());

        function update_list() {
            $.getJSON(url = "../api/v1/config/", data = {
                        "offset": 0,
                        "limit": 10,
                        "ak": "90a3efd02fa8795d2f30"
                    }, function (ret_data) {
                        console.log(ret_data);
                        v_config_table.config_list = ret_data.data;
                    }
            )
        }

    </script>

{% endblock %}
