{% extends "banner.html" %}
{% block title_content %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/main_ico.png">
    <title>关于</title>
{% endblock %}

{% block global_banner_content %}
    <div class="container">
        <div class="well">
            <h4><b>更新记录：</b></h4>
            <h5>2017.11.30</h5>
            <ol>
                <li>增加通过ipc型号查询支持码流参数的API，地址为/ipcset/api/model/query/?alias=[参数]</li>
                <li>修改IOT-DEVICE的后台显示</li>
                <li>增加一部分接口测试</li>
            </ol>
            <h5>2017.10.31</h5>
            <ol>
                <li>bugfix:在浏览器主动推送任务失败后，terminal能够解析回复，进行被动获取。</li>
                <li>更新terminal至1.0.3版本，调整iottest失败后的comment字段。</li>
                <li>增加iottest模块中，sut列表、任务执行结果的下载。</li>
            </ol>
            <h5>2017.10.28</h5>
            <ol>
                <li>兼容性测试：加入比较两次任务结果差异的功能；调整入口位置。</li>
                <li>文件下载：下载请求由nginx直接处理，减少服务器压力。</li>
            </ol>
            <h5>2017.10.24</h5>
            <ol>
                <li>bugfix: iottest的执行模块能够解析list类型的任务输入.</li>
                <li>ui: 查看在线终端页面,显示已注册功能.</li>
                <li>ui: iottest-任务明细页面,调整备注信息显示</li>
            </ol>
            <h5>2017.10.21</h5>
            <ol>
                <li>增加IOT任务管理, 进行IOT任务的新建\执行\查看; 任务对比功能还未完成.</li>
                <li>更新终端,增加IOT模块.</li>
            </ol>
            <h5>2017.10.09</h5>
            <ol>
                <li>增加快速设置工具，请更新终端。</li>
                <li>增加文件下载模块。</li>
            </ol>
            <h5>2017.09.25</h5>
            <p>server端</p>
            <ol>
                <li>修改终端注册时间为45秒，超时时间为45*2。</li>
                <li>增加参数设置页面-设置条目的用户隔离：每个用户只能看到自己操作添加、发现、修改的设备，任务信息依然共享。</li>
            </ol>
            <hr>
            <h5>2017.09.14</h5>

            <p>server端</p>
            <ol>
                <li>增加终端注册功能，30s注册一次，超过一定时间未注册视为离线。</li>
                <li>码流参数设置时能够选择在线终端进行任务分配。</li>
                <li><b>*注意：该版本还未调整IP管理的逻辑,暂时无法使用。</b></li>
            </ol>
            <p>local端</p>
            <ol>
                <li>更改自动扫描的在线ip获取逻辑，采用多线程ping。</li>
                <li>分解为注册线程、本地接收线程、任务分发线程。由任务分发线程统一管理、运行任务。</li>
                <li><b>*注意:IP管理模块还未上线，暂时无法使用。</b></li>
            </ol>
            <p>todo:</p>
            <ol>
                <li>验证主动推送任务的有效性。 <b>[done]</b></li>
                <li>更改IP管理的执行逻辑：批量恢复出厂+IP设置，扫描局域网添加MAC。</li>
            </ol>
            <hr>
        </div>
    </div>
{% endblock %}