{% extends "banner.html" %}
  {% block content %}
      <div class="container" id="content_container">
          <p><button type="button" class="btn btn-sm btn-primary" id="start_test">测试按钮</button></p>
      </div>
      <script>
        $(document).ready(function () {
            alert('hello world');
        });
        $('#start_test').on('click', function () {
            alert('button clicked');
            $('#content_container').append('<p>添加的文字</p>')

        })
      </script>
  {% endblock %}