<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">
        <link type="text/css" href="/static/bootstrap/css/signin.css" rel="stylesheet">
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/sha1.js' %}"></script>

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/image/user.png">
        <title>用户登录</title>
    </head>
    <body>

    <div class="container">
      <form class="form-signin" action="" method="post">
        {% csrf_token %}
        <h3 class="form-signin-heading">{{ notice }}</h3>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="user_name" name="user_name" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="密码" required autofocus>
{#        {% if next %}#}
{#                <input type="hidden" value="{{next}}" name="next">#}
{#        {% else %}#}
{#                <input type="hidden" value="/" name="next">#}
{#        {% endif %}#}
          <label for="inputUsername" class="col-sm-6 control-label control-label">没有账号？<a href="/user/register/">注册</a></label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>

    </div> <!-- /container -->

     <div id="footer">
            <div class="container">
                <div class="copyright" align="center"><a href="#"> &copy; based on bootstrap </a>| 2017  </div>
            </div>
        </div>
        </body>
</html>