{% extends "dnsbanner.html" %}
  {% block content %}
      <h3>测试人员信息</h3>
      <table width = "1000" border="0">
      <tr>
          <th align="center">姓名</th>
          <th align="center">性别</th>
          <th align="center">工号</th>
          <th align="center">邮箱</th>
          <th align="center">分级</th>
      </tr>
      {% for tester in tester_list %}
      <tr>
          <td align="center">{{ tester.name }}</td>
          <td align="center">{% ifequal tester.gender 'F' %}女{% else %}男{% endifequal %}</td>
          <td align="center">{{ tester.cardNo }}</td>
          <td align="center">{{ tester.emailAddr }}</td>
          <td align="center">{{ tester.type }}</td>
      </tr>
      {% endfor %}
      </table>
  {% endblock %}