{% extends "ipc_banner.html" %}
  {% block content %}
      <div class="container">
      <h2 class="sub-header">任务详细状态 | 任务ID：{{ mission_id }}</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="mac_table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>MAC</th>
                  <th>IP地址</th>
                  <th>分辨率</th>
                  <th>帧率</th>
                  <th>码率</th>
                  <th>同步OSD</th>
                  <th>状态</th>
                </tr>
              </thead>


              <tbody>
              {% for detail in detail_list %}
                  <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ detail.mac_addr }}</td>
                  <td>{{ detail.current_ip }}</td>
                  <td>{{ detail.set_resolution }}</td>
                  <td>{{ detail.set_framerate }}</td>
                  <td>{{ detail.set_bitrate }}</td>
                      {% ifequal detail.operate_type 2  %}
                      <td>是</td>
                      {% endifequal %}
                      {% ifequal detail.operate_type 1  %}
                      <td>否</td>
                      {% endifequal %}

                      {% ifequal detail.status 0  %}
                      <td>等待设置</td>
                      {% endifequal %}
                      {% ifequal ip.status 4 %}
                      <td>设置完成</td>
                      {% endifequal %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>



      </div>
  {% endblock %}