{% extends "ipcset_banner.html" %}
  {% block content %}
 
      <div class="container">
       <h4>当前位置: <a href="/ipcset/">码流参数设置</a> >> 基本型号查看</h4>
      <hr>
      <h2 class="sub-header">设备型号列表</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="model_table">
              <thead>
                <tr>
                  <th>型号</th>
                  <th>别名</th>
                  <th>主分辨率</th>
                  <th>主帧率</th>
                  <th>主码率</th>
                  <th>子分辨率</th>
                  <th>子帧率</th>
                  <th>子码率</th>
                  <th>添加者</th>
                </tr>
              </thead>
              <tbody>
              {% for model in model_list %}
                  <tr>
{#                  <td>{{ forloop.counter }}</td>#}
                  <td>{{ model.model_name }}</td>
                  <td>{{ model.alias_name }}</td>
                  <td>{% for resolution in model.resolution_set.all %}
                      <p>{{ resolution.resolution }}</p>
                      {% endfor %}
                  </td>
                  <td>{% for framerate in model.framerate_set.all %}
                      <p>{{ framerate.framerate }}</p>
                      {% endfor %}
                  </td>
                  <td>{% for bitrate in model.bitrate_set.all %}
                      <p>{{ bitrate.bitrate }}</p>
                      {% endfor %}
                  </td>
                  <td>{% for resolution in model.min_resolution_set.all %}
                      <p>{{ resolution.resolution }}</p>
                      {% endfor %}
                  </td>
                  <td>{% for framerate in model.min_framerate_set.all %}
                      <p>{{ framerate.framerate }}</p>
                      {% endfor %}
                  </td>
                  <td>{% for bitrate in model.min_bitrate_set.all %}
                      <p>{{ bitrate.bitrate }}</p>
                      {% endfor %}
                  </td>
                  <td>{{ model.editor_name }}</td>
                  <td>{{ model.edit_time|date:"Y-m-d,G:i"}}</td>
{#                  <td><a class="btn-sm btn-primary btn-show-detail" name = {{mission.mission_id}} role="button">查看详细</a>#}
                  </td>

                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <hr>

      <script>
      </script>
  {% endblock %}