{% extends "ipcset_banner.html" %}
  {% block content %}
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
        <p><h4><a href="/ipcset">码流参数设置</a> >> 基础信息查看</h4></p>
        <hr>
      <div class="row">
        <div class="col-lg-6">
            <h4>基础信息查看</h4>
            <p>查看已保存的IPC基础信息，可以进行修改、添加操作</p>
            <p><a class="btn btn-info" href="/ipcset/basic" role="button">查看信息&raquo;</a></p>
      </div>
          <div class="col-lg-6">
            <h4>开始设置</h4>
            <p>设定各项参数，并执行任务</p>
            <p><a class="btn btn-info" href="/ipcset/mission" role="button">设置参数&raquo;</a></p>
      </div>
    </div>
    </div>
  {% endblock %}