{% extends "terminal_banner.html" %}
{% block content %}
    {% csrf_token %}
    <div class="container">
        <h2 class="sub-header">查看在线的终端信息</h2>
        <div class="table-responsive">
            <table class="table table-striped" id="terminal_table">
                <thead>
                <tr class=locktop>
{#                    <th><label class="checkbox-inline"><input type="checkbox" id="select_all">全选</label></th>#}
                    <th>终端名</th>
                    <th>状态</th>
                    <th>类型</th>
                    <th>有效时间</th>
                    <th>用户</th>
                    <th>地址</th>
                    <th>端口</th>
                    <th>其他</th>
                    <th>版本</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody>

                {% for terminal in terminal_list %}
                    <tr>
                        <td>{{ terminal.terminal_name }}</td>
                        {% if terminal.is_online %}
                            <td><span class="label label-success">在线</span></td>
                        {% else %}
                            <td><span class="label label-danger">离线</span></td>
                        {% endif %}
{#                        <td>{{terminal.terminal_status}}</td>#}
                        <td>{{terminal.terminal_type}}</td>
                        <td>{{terminal.available_time}}</td>
                        <td>{{terminal.user_name}}</td>
                        <td>{{terminal.terminal_addr}}</td>
                        <td>{{terminal.terminal_port}}</td>
                        <td>{{terminal.get_other_info_html|safe}}</td>
                        <td>{{terminal.version}}</td>
                        <td>{{terminal.edit_time|date:"Y-m-d,G:i:s" }}</td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    </div>
    <hr>


{% endblock %}