{% extends "dnsbanner.html" %}
  {% block content %}
      <h3>用例信息</h3>
      <table width = "1000" border="0">
      <tr>
          <th align="center">No.</th>
          <th align="center">用例名称</th>
          <th align="center">维护人</th>
          <th align="center">创建时间</th>
          <th align="center">更新时间</th>
          <th align="center">所属测试集合</th>
          <th align="center">说明</th>
      </tr>
      {% for case in case_list %}
      <tr>
          <td align="center">{{ case.id }}</td>
          <td align="center">{{ case.caseName }}</td>
          <td align="center">{{ case.editorName }}</td>
          <td align="center">{{ case.createDate }}</td>
          <td align="center">{{ case.editDate }}</td>
          <td align="center">{{ case.suiteName}}</td>
          <td align="center">{{ case.caseIntroduction }}</td>
      </tr>
      {% endfor %}
      </table>
  {% endblock %}