{% extends "ipc_banner.html" %}
  {% block content %}
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
            <h4>查看已保存的MAC-IP表</h4>
            <p>查看已保存的MAC-IP表格，可以进行修改、添加操作</p>
            <p><a class="btn btn-info" href="/ipcmanage/iptables" role="button">查看MAC-IP表&raquo;</a></p>

{#        </div><!-- /.col-lg-4 -->#}
{#        <div class="col-lg-4">#}
{#          <h4></h4>#}
{#          <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>#}
{#        </div><!-- /.col-lg-4 -->#}
      </div><!-- /.row -->
    </div>
  {% endblock %}