{% extends "ipc_banner.html" %}
  {% block content %}
      <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3">
            <p><a class="btn btn-info" role="button" id="assign_ip_btn" data-toggle="modal" data-target="#assign_ip_modal" data-backdrop="static">自动分配&raquo;</a></p>
            <p>输入IP起始地址，自动按id分配IP。</p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-info" id="assign_ip_btn" data-toggle="modal" data-target="#start_scan_modal" data-backdrop="static" role="button">开始执行 &raquo;</a></p>
          <p>按照下表的MAC-IP-OSD设置局域网内的IPC。</p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-info" role="button" id="add_new_btn" data-toggle="modal" data-target="#add_modal" data-backdrop="static">添加IPC &raquo;</a></p>
          <p>添加新的MAC-IP对应关系到数据库中。</p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-info" role="button" id="batch_upload_btn" data-toggle="modal" data-target="#batch_modal" data-backdrop="static">批量导入 &raquo;</a></p>
          <p>导入本地JSON格式的文件，将文件中的MAC-IP映射上传到数据库。</p>
        </div>
      </div>
    </div>
      <hr>
      <div class="container">
      <h2 class="sub-header">已保存的MAC-IP对应信息</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="mac_table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>内部索引</th>
                  <th>MAC</th>
                  <th>IP</th>
                  <th>OSD设置</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ip in ip_list %}
                  <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ ip.id }}</td>
                  <td>{{ ip.mac_addr }}</td>
                  <td>{{ ip.static_ip }}</td>
                  <td>{{ ip.osd_text }}</td>
                  <td><a data-toggle="modal" data-target="#edit_modal" data-backdrop="static" class="btn-sm btn-primary btn-edit" name = {{ip.id}} role="button">修改</a>
                      <a class="btn-sm btn-danger btn-del" name={{ ip.id }} role="button">删除</a>
                  </td>

                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>



      </div>
    <hr>
      <div class="modal fade" id="edit_modal" >
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">修改</div>
              <div class="modal-body">
                  <form class="form-horizontal" role="form" id="edit_old_ipc">
                      <div class="form-group">
                      <label for="edit_mac" class="col-sm-2 control-label">MAC地址</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="mac_addr" name="mac_addr" value="mac">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_ip" class="col-sm-2 control-label">IP地址</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="static_ip" name="static_ip" value="ip">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_osd" class="col-sm-2 control-label">OSD文字</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="osd_text" name="osd_text" value="osd">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_people" class="col-sm-2 control-label">修改人</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="editor_name" name="editor_name" value="editor">
                      </div>
                      </div>
                      <input type="hidden" class="form-control" id="id" name="id" value="id">
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-success" id="save_edit">确定</button>
                  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">取消</button>
              </div>
          </div>
      </div>
      </div>
      <!--添加IPC窗口-->
      <div class="modal fade" id="add_modal" >
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">添加新的IPC</div>
              <div class="modal-body">
                  <form class="form-horizontal" role="form" id="add_new_ipc">
                      <div class="form-group">
                      <label for="edit_mac" class="col-sm-2 control-label">MAC地址 *</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="mac_addr" name="mac_addr" placeholder="必填字段">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_ip" class="col-sm-2 control-label">IP地址 *</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="static_ip" name="static_ip" placeholder="必填字段">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_osd" class="col-sm-2 control-label">OSD文字 </label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="osd_text" name="osd_text" placeholder="可空">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_people" class="col-sm-2 control-label">添加人 *</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="editor_name" name="editor_name" placeholder="必填字段">
                      </div>
                      </div>
                      <!-- <input type="hidden" class="form-control" id="id" name="id" value="id"> -->
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-success" id="confirm_save_btn">确定</button>
                  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">取消</button>
              </div>
          </div>
      </div>
      </div>

      <!--批量分配IP窗口-->
      <div class="modal fade" id="assign_ip_modal" >
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">
              <h3>分配IP</h3>
              <p>输入启示IP地址A、分配数量N后，系统会自动按照内部索引由小到大顺序，为IPC分配从地址A开始的、连续增长的IP地址，并保存到数据库中。</p>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal" role="form" id="assign_ip_form">
                      <div class="form-group">
                      <label for="edit_mac" class="col-sm-4 control-label">起始IP地址：</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="ip_start_str" name="ip_start_str" placeholder="请输入以.分割的IPv4地址">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_mac" class="col-sm-4 control-label">分配数量：</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="ip_count_str" name="ip_count_str" placeholder="请填入数字">
                      </div>
                      </div>
                  </form>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" id = "assign_probar" style="width: 0%"></div>
                      </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-success" id="confirm_assign_ip_btn">确定</button>
                  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="confirm_assign_close_btn">关闭</button>
              </div>
          </div>
      </div>
      </div>

      <!--开始执行窗口-->
      <div class="modal fade" id="start_scan_modal" >
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">
              <h3>开始执行设置</h3>
              <p>请输入需要设置的IPC当前所在局域网段的起始ip地址, 以及ip地址的升序增长数量。</p>
              <p>输入起始IP地址A、增长值N后，系统会自动搜索该范围内所有IP对应的IPC，并根据其MAC地址设置相应的新IP、OSD文字。</p>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal" role="form" id="scan_ip_form">
                      <div class="form-group">
                      <label for="edit_mac" class="col-sm-4 control-label">扫描起始IP地址：</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="scan_start_str" name="scan_start_str" placeholder="请输入以“.”分割的IPv4地址">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_mac" class="col-sm-4 control-label">分配数量：</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="scan_count_str" name="scan_count_str" placeholder="请填入数字">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="edit_mac" class="col-sm-4 control-label">操作人：*</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="scan_people_str" name="scan_people_str" placeholder="请填入你的名字">
                      </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-success" id="confirm_scan_ip_btn">确定</button>
                  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="confirm_scan_close_btn">关闭</button>
              </div>
          </div>
      </div>
      </div>

      <!--执行中窗口-->
      <div class="modal fade" id="scanning_modal" data-backdrop="static">
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">
              <h3>正在执行设置操作</h3>
              </div>
              <div class="modal-body">
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped active" role="progressbar" id = "scanning_probar" style="width: 0%"></div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-success" id="show_detail_btn" name="">查看详细</button>
                  <button type="button" class="btn btn-sm btn-success" id="scanning_confirm_btn" >确定</button>
                  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" id="scanning_abort_btn">退出</button>
              </div>
          </div>
      </div>
      </div>


      <script>
      $('#scanning_abort_btn').on('click', function(){
          window.clearInterval(timer_id);
          $('#scanning_probar').attr("style", "width: 0%");

      })

      $('#batch_upload_btn').on('click', function(){
          timer_id = window.setInterval(alert,1000);
      })

      <!--查看任务详细详细-->
      var timer_id;
      $('#show_detail_btn').on('click', function(){
          window.open('../mission_detail/'+$('#show_detail_btn').attr("name"));
      })
      <!--开始执行-->
      $('#confirm_scan_ip_btn').on('click', function(){
        var json_data = {
          'operator_name':$('#scan_people_str').val(),
          'operate_id':getTimeId(),
          'operate_type':3,
          'ip_start':$('#scan_start_str').val(),
          'ip_count':$('#scan_count_str').val()
        };
          $('#show_detail_btn').attr("name", json_data.operate_id);
        console.log(json_data);
        
        $.ajax({
          type:"POST",
          url:"/ipcmanage/api/mission/",
          dataType:"json",
          contentType:"application/json",
          data: JSON.stringify(json_data),
          success:function(e){
            console.log("success", e);
            $('#start_scan_modal').modal('toggle');
            $('#scanning_modal').modal('toggle');
            timer_id = window.setInterval(on_time_check,5000);
              console.log(timer_id);
          },
          error:function(e){
            console.log("failed", e);
          }
        });
      })
      
      function on_time_check(){
          var op_id = $('#show_detail_btn').attr("name");
          $.ajax({
          type:"GET",
          url:"/ipcmanage/api/mission/"+op_id,
          dataType:"json",
          contentType:"application/json",
          success:function(js_data){
            console.log("success", js_data);
              var total = Number(js_data.ip_count);
              var fin = Number(js_data.progress);
              var progress = String(fin*100/total) + "%";
              console.log("request mission progress", progress, timer_id);
            $('#scanning_probar').attr("style", "width: "+progress);
              if(total == fin){
                  window.clearInterval(timer_id);
                  console.log("clear interval")
                  alert('设置完成！')
              }
          },
          error:function(e){
            console.log("failed", e);
          }
        });
      };

      <!--关闭分配-->
      $('#confirm_assign_close_btn').on('click', function(){
        location.reload();
      })
      <!--分配IP-->
      $('#confirm_assign_ip_btn').on('click', function(){
        var start_ip_addr = $('#ip_start_str').val();
        start_ip_addr = start_ip_addr.split('.');
        var ip_diff_int = Number(start_ip_addr.pop());
        start_ip_addr = start_ip_addr.join(".");
        var count = $('#ip_count_str').val();
        var successed=0;
        var failed=0;
        console.log(start_ip_addr, count,ip_diff_int);
        $.getJSON('/ipcmanage/api/tables/', function(json_data){
          if(count>json_data.length){count=json_data.length;};
          for(var i=0; i<count; i++){
            var change_item = json_data[i];
            change_item.static_ip= start_ip_addr+'.'+String(ip_diff_int+i);
            // console.log(i, change_item);
            $.ajax({
              type:"PUT",
              url:"/ipcmanage/api/tables/"+ change_item.id,
              dataType:"json",
              contentType:"application/json",
              data: JSON.stringify(change_item),
              // async:false,
              context:$('#assign_ip_modal'),
              success:function(e){
                console.log("success", change_item);
                successed ++;
                $('#assign_probar').attr("style", "width: "+String(100-(count-i-1)/count)+"%");
              },
              error:function(e){
                failed++;
                console.log("failed", change_item);
              }
            })
          }
        });
        console.log(successed,failed);
      })
      <!--编辑单条记录-->
      $('.btn-edit').on('click', function () {
          $.getJSON('/ipcmanage/api/tables/'+this.name, function (data) {
            console.log(data);
              $('#edit_modal').find("form").find('#mac_addr').val(data.mac_addr);
              $('#edit_modal').find("form").find('#static_ip').val(data.static_ip);
              $('#edit_modal').find("form").find('#osd_text').val(data.osd_text);
              $('#edit_modal').find("form").find('#editor_name').val(data.editor_name);
              $('#edit_modal').find("form").find('#id').val(data.id);})
          });
      <!--删除记录-->
      $('.btn-del').on('click', function () {
        $.ajax({
              type:"DELETE",
              url:"/ipcmanage/api/tables/"+this.name,
              dataType:"json",
              contentType:"application/json",
              data: JSON.stringify({
                      "id":this.name
              }),
              context:$(document),
              success:function(e){
                  alert("删除成功!");
                  location.reload();
              },
              error:function(e){
                  alert("删除失败"+String(e));
              }
          })
        });
      <!--增加记录-->
      $('#confirm_save_btn').on('click', function () {
        var add_data=getJsonForm($('#add_modal'));
        console.log(add_data)
        $.ajax({
              type:"POST",
              url:"/ipcmanage/api/tables/",
              dataType:"json",
              contentType:"application/json",
              data: JSON.stringify(add_data),
              context:$(document),
              success:function(e){
                  alert("添加成功!");
                  location.reload();
                  this.modal('hide');
              },
              error:function(e){
                  alert("添加失败"+String(e));
                  console.log(e);
              }
          })
        });
      <!--更改记录-->
      $('#save_edit').on('click', function () {
          var change_data = getJsonForm($('#edit_modal'));
          console.log(change_data);
          $.ajax({
              type:"PUT",
              url:"/ipcmanage/api/tables/"+ $('#edit_modal').find("form").find('#id').val(),
              dataType:"json",
              contentType:"application/json",
              data: JSON.stringify(change_data),
              context:$('#edit_modal'),
              success:function(e){
                  alert("修改成功!");
                  location.reload();
                  this.modal('hide');
              },
              error:function(e){
                  alert("修改失败"+String(e));
              }

          })
      });


      $('#edit_modal').on('hide.bs.modal',function (e) {
{#          location.reload();#}
      });
      $('#edit_modal').on('show.bs.modal',function (e) {

      });

      function getJsonForm(target){
        var json = {
          "id":target.find("form").find('#id').val(),
          "mac_addr":target.find("form").find('#mac_addr').val(),
          "static_ip":target.find("form").find('#static_ip').val(),
          "osd_text":target.find("form").find('#osd_text').val(),
          "editor_name":target.find("form").find('#editor_name').val()
        };
        return json;
      }

      function getTimeId(){
        var time = new Date().getTime();
        return String(time);
      }

      </script>
  {% endblock %}