{% extends "ipc_banner.html" %}
  {% block content %}
      <div class="container">
      <h2 class="sub-header">任务-{{ operate_id }}-详细状态</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="mac_table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>MAC</th>
                  <th>当前IP</th>
                  <th>原始IP</th>
                  <th>OSD文字</th>
                  <th>当前状态</th>
                  <th>修改时间</th>
                </tr>
              </thead>


              <tbody>
              {% for ip in detail_list %}
                  <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ ip.mac_addr }}</td>
                  <td>{{ ip.static_ip }}</td>
                  <td>{{ ip.ori_ip }}</td>
                  <td>{{ ip.osd_text }}</td>
                      {% ifequal ip.status 0  %}
                      <td>未连接</td>
                      {% endifequal %}
                      {% ifequal ip.status 1  %}
                      <td>STEP1:设置IP为192.168.1.60</td>
                      {% endifequal %}
                      {% ifequal ip.status 2  %}
                      <td>STEP2:恢复出厂设置</td>
                      {% endifequal %}
                      {% ifequal ip.status 3  %}
                      <td>STEP3:设置IP为{{ ip.static_ip }}</td>
                      {% endifequal %}
                      {% ifequal ip.status 4 %}
                      <td>设置完成</td>
                      {% endifequal %}
                  <td>{{ ip.edit_time }}</td>
                  </td>

                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>



      </div>
  {% endblock %}